<div id="smooth-wrapper">
    <div id="smooth-content">
        <main style="padding-top: 50px;">
    
            <!--======  Start Contact Info Section  ======-->
            <section class="renvia-contact-info-sec pt-120">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!--=== Section Title ===-->
                            <div class="section-title text-center mb-50" data-aos="fade-up" data-aos-duration="1000">
                                <h2>Our Contact Information</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        
                        <div class="col-xl-4 col-md-6 col-sm-12">
                            <!--=== Renvia Info Box ===-->
                            <div class="renvia-info-left-box" data-aos="fade-up" data-aos-duration="1200">
                                <div class="icon">
                                    <i class="far fa-phone-alt"></i>
                                </div>
                                <div class="content">
                                    <h5>Contact Number</h5>
                                    <p style="display: flex; flex-direction: column;  "><a href="tel:+919893651234">+91 9893651234</a><a href="tel:+919039931234">+91 9039931234</a></p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-sm-12">
                            <!--=== Renvia Info Box ===-->
                            <div class="renvia-info-left-box" style="height: 100%;" data-aos="fade-up" data-aos-duration="1400">
                                <div class="icon">
                                    <i class="far fa-clock"></i>
                                </div>
                                <div class="content">
                                    <h5>Email</h5>
                                    <p style="display: flex; flex-direction: column;  "><a href="mailto:manish@tikarihaadvisors.com">manish@tikarihaadvisors.com</a> <a  href="mailto:info@tikarihaadvisors.com">info@tikarihaadvisors.com</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-sm-12">
                            <!--=== Renvia Info Box ===-->
                            <div class="renvia-info-left-box" style="height: 100%;" data-aos="fade-up" data-aos-duration="1000">
                                <div class="icon">
                                    <i class="far fa-map-marker-alt"></i>
                                </div>
                                <div class="content">
                                    <h5>Our Address</h5>
                                    <p>
                                        Raipur, Chhattisgarh, India 492001
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!--======  End Contact Info Section  ======-->
            <!--======  Start Contact Section  ======-->
            <section class="renvia-contact_three pt-80 pb-120">
                <div class="container" style="max-width: 1100px;">
                    <!--=== Contact Wrapper ===-->
                    <div class="contact-wrapper" data-aos="fade-up" data-aos-duration="1000">
                        <h3>Get In Touch</h3>
                        <form id="contactForm" class="contact-form" method="POST">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label><i class="far fa-user"></i></label>
                                        <input type="text" class="form_control" placeholder="Your Name" name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.name %>" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label><i class="far fa-envelope"></i></label>
                                        <input type="email" class="form_control" placeholder="Email Address" name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.email %>" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label><i class="far fa-phone"></i></label>
                                        <input type="tel" class="form_control" placeholder="Phone Number" name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.phone %>" 
                                               pattern="[0-9]{10}" 
                                               maxlength="10" 
                                               minlength="10" 
                                               title="Please enter exactly 10 digits" 
                                               required
                                               oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10);">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label><i class="far fa-map-marker-alt"></i></label>
                                        <input type="text" class="form_control" placeholder="City" name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.address %>" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label><i class="far fa-pen"></i></label>
                                        <textarea class="form_control" placeholder="Message" name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.remarks %>" rows="5" cols="8"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group text-center">
                                        <button class="theme-btn style-one">Lets connect <i class="far fa-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section><!--======  End Contact Section  ======-->
           
        </main>


