
  


<style>
    

.service-slider{
    max-width: 1400px;
    margin: 0 auto;
}

    .service-slider-projects .slick-slide {
      margin-left: 15px;
      margin-right: 15px;
    
    }
    .service-projects{
        max-width: 430px;
    }

    
    .project-description-block h1, .project-description-block h2, .project-description-block h3, .project-description-block h4, .project-description-block h5, .project-description-block h6 ,.project-description-block {
                font-size: 16px;
                font-weight: 400 !important;
                font-family: var(--body-font);
                line-height: 26px;
                color: #797e88;
    
            }
    
    
            .project-description-block , .project-description-block span{
                display: -webkit-box;
                 -webkit-line-clamp: 3;
                  -webkit-box-orient: vertical;
                  max-height: 98px;
                  overflow: hidden;
                   text-overflow: ellipsis; 
                   }
    

                  

                   
    
    
     strong{
        font-weight: 400 !important;
    }
    
    @media screen and (max-width: 991.98px) {
      .service-slider-projects .slick-slide {
        margin-left: 12px;
        margin-right: 12px;
      }
    
    .page-top{
        margin-top: 60px;
    }
    
    }
    
    </style>




<% if (projects && projects.length > 0) { %>
                 
<section style="background-color: #fff6eebf;" class="renvia-service_two  pt-115 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-10">
                <!-- Section Title -->
                <div class="section-title text-center mb-55">
                    <span class="sub-title" data-aos="fade-down" data-aos-duration="1000"><img src="/assets/images/line1.png" alt="line">REAL ESTATE PROJECTS<img src="/assets/images/line2.png" alt="line"></span>
                    <h2 class="text-anm">Well-Planned Projects with Strong Potential</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- Service Slider -->
        <div class="service-slider" data-aos="fade-up" data-aos-duration="1000">
            <!-- Renvia Service Card -->


            

        <% projects.forEach((project, index) => { %>
            <%
            const titleCase = (str) =>
              str
                .replace(/_/g, ' ')
                .toLowerCase()
                .replace(/\b\w/g, char => char.toUpperCase());
          %>
          

            <div class="renvia-service-card style-two" onclick="window.location.href='/project/<%= project._id %>'">
                <div class="content">
                   
                   <div style="display: flex; align-items: center; gap: 10px; margin-bottom: 20px;">
                    <img src="<%= process.env.S3_BASE_URL + project.projectLogo %>" style="max-height: 51px;  max-width: 51px; min-height: 51px;  min-width: 51px;     background: #fff8f2;
    object-fit: contain; border-radius: 100%;" alt="<%= project.projectName %>">

                    <div style="display: flex; flex-direction: column; gap: 0;  ">
                        <h4 class="title" style="margin-bottom: 0px; font-size:20px; line-height: 0.9em;"><%= project.projectName %></h4><p style="margin: 0;"><%= titleCase(project.locality) %> , <%= titleCase(project.city) %></p>
                    </div>
    

                   </div>
                   
                    <img style="border-radius: 16px; height: 168px; " src="<%= process.env.S3_BASE_URL + project.listingBanner %>" alt="<%= project.projectName %>">
                    <div class="project-description-block" style="margin-bottom: 22px;">
                        <%- project.projectDescrpition[0].description %>
                                  </div>
                    <a href="/project/<%= project._id %>" class="read-more style-two"> <span class="icon"><i class="far fa-arrow-right"></i></span> View Details</a>
                </div>
            </div>
             
<% }) %>




        </div>
    </div>
    <div class="mt-60" style="display: flex; justify-content: center; align-items: center;">
        <a href="/projects" class="theme-btn style-one">View All Projects<i class="far fa-arrow-right"></i></a>
                         
    </div>
</section>
  
<% } %>