

    <section class="renvia-blog-sec pt-115 pb-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <!-- Section Title -->
                    <div class="section-title text-center mb-5">
                        <span class="sub-title" data-aos="fade-down" data-aos-duration="1000"><img src="assets/images/line1.png" alt="line">Our Latest Blog<img src="assets/images/line2.png" alt="line"></span>
                        <h2 class="text-anm">Latest News Update <br> & Articles</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <% blogs.forEach(item => { %>
                    <div class="col-xl-4 col-md-6 col-sm-12">
                        <!-- Renvia Blog Item -->
                        <div class="renvia-blog-post-item style-one mb-30" onclick="window.location.href='/post/<%= item._id %>'" data-aos="fade-up" data-aos-duration="800">
                            <div class="post-thumbnail">
                                <div class="post-tags-as" style="position: absolute; top: 20px; left: 20px; font-size: 14px; background-color: var(--primary-color); color:var(--white-color); padding: 4px 12px;border-radius: 12px;">
                                    <span><a href="javascript:void(0)"><%= item.postCategory %></a></span>
                                </div>
                                <img onclick="window.location.href='/post/<%= item._id %>'" src="<%= process.env.S3_BASE_URL + item.listingBanner %>" class="blogimage" alt="<%= item.postTitle %>">
                            </div>
                            <div class="post-content">
                                
                                <h4 class="title"><a href="/post/<%= item._id %>"><%= item.postTitle %></a></h4>
                                <a href="/post/<%= item._id %>" class="read-more style-one">Read Details<i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                  
                    <% }) %>
            </div>
        </div>
    </section>

   

     
    <style>
        .blogimage{
            width: 412px;
            height: 270px;
            object-fit: cover;
        }
        .title a{
           min-height: 62px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>