

<% if (projects && projects.length > 0) { %>
                 

<section class="renvia-service_one gray-bg pt-115 pb-80" data-src="assets/images/home-one/bg/service-bg.jpg">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xxl-6 col-xl-8 col-lg-8">
                <!-- Section Title -->
                <div class="section-title text-center mb-55">
                    <span class="sub-title" data-aos="fade-down" data-aos-duration="1000"><img src="assets/images/line1.png" alt="line">What we Offer<img src="assets/images/line2.png" alt="line"></span>
                    <h2 class="text-anm">We Develop Excellent Real Estate And Infrastructural Projects.</h2>
                </div>
            </div>
        </div>
        <!-- Service Slider -->
        <div class="service-slider" data-aos="fade-down" data-aos-duration="1000">
            <!-- Renvia Service Card -->
            <% projects.forEach((project, index) => { %>
                <div class="renvia-service-card col-lg-4 col-md-6 col-sm-12 style-one mb-40" onclick="window.location.href='/project/<%= project._id %>'">
                    <div class="content">
                        <div class="title-wrap" style="margin-bottom: 20px; padding-bottom: 20px;">
                            <h4><a href="/project/<%= project._id %>"><%= project.projectName %></a></h4>
                            <a href="/project/<%= project._id %>" class="icon-btn"><i class="far fa-arrow-right"></i></a>
                        </div>
                
                        <%
                        const titleCase = (str) =>
                          str
                            .replace(/_/g, ' ')
                            .toLowerCase()
                            .replace(/\b\w/g, char => char.toUpperCase());
                      %>
                      
                      <div style="display: flex; gap: 8px; margin-bottom: 16px;">
                          <p style="margin-bottom: 0px;font-size: 14px; background-color:#ffc5c5; padding: 2px 20px; border-radius: 12px; color: #000;"><%= titleCase(project.possesion) %></p>
                          <p style="margin-bottom: 0px;font-size: 14px; background-color:#F8F8F8; padding: 2px 20px; border-radius: 12px; color: #000;"><%= titleCase(project.projectType) %></p>
                      </div>
                      
                      <p style="margin-bottom: 24px;"><%= titleCase(project.locality) %>, <%= titleCase(project.city) %></p>
                       <!-- <p><%= project.reraNo %></p> -->
                        <img src="<%= process.env.S3_BASE_URL + project.listingBanner %>" alt="<%= project.projectName %>">
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
</section>

    
<% } %>