<%- include('header'), {seoDetails} %>
    <div id="smooth-wrapper" style="padding-top: 40px;">
        <div id="smooth-content">
            <main>


                <section class="renvia-project-details-sec pt-120">
                    <div class="container">
                        <!-- Project Details Wrapper -->
                        <div class="project-details-wrapper">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="project-main">


                                        <div class="content-box">
                                            <div class="row">
                                                <div class="col-xl-8">

                                                    <div class="project-thumbnail mb-40" data-aos="fade-up"
                                                        data-aos-duration="1000">
                                                        <img src="<%= process.env.S3_BASE_URL + projectDetails.coverImage %>"
                                                            alt="<%= projectDetails.projectName %>">
                                                    </div>
                                                    <div class="project-content" data-aos="fade-up"
                                                        data-aos-duration="1200">
                                                        <div class="project-meta-list top-button">
                                                            <% const titleCase=(str)=>
                                                                str
                                                                .replace(/_/g, ' ')
                                                                .toLowerCase()
                                                                .replace(/\b\w/g, char => char.toUpperCase());
                                                                %>

                                                                <div style="display: flex;flex-wrap: wrap; gap: 10px;">
                                                                    <div class="renvia-info-item   style-three ">

                                                                        <div class="info">
                                                                            <h6>
                                                                                <%= titleCase(projectDetails.possesion)
                                                                                    %>
                                                                            </h6>
                                                                        </div>
                                                                    </div>
                                                                    <div class="renvia-info-item style-three ">

                                                                        <div class="info">
                                                                            <h6>
                                                                                <%= titleCase(projectDetails.projectType)
                                                                                    %>
                                                                            </h6>
                                                                        </div>
                                                                    </div>
                                                                    <div class="renvia-info-item style-three ">
                                                                        <div class="info">
                                                                            <h6>
                                                                                <%= titleCase(projectDetails.locality)
                                                                                    %> , <%=
                                                                                        titleCase(projectDetails.city)
                                                                                        %>
                                                                            </h6>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="renvia-info-item style-three ">

                                                                    <div class="info download-brochure">
                                                                        <h6
                                                                            style="display: flex; align-items: center; justify-content: center;">
                                                                            <a style=" color: #40329b !important;" href="<%= process.env.S3_BASE_URL + projectDetails.brochure %>"
                                                                                target="_blank"><span
                                                                                    style="height: 20px; width: 20px; margin-right: 6px; "><svg
                                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                                        width="20" height="20"
                                                                                        fill="  #40329b "
                                                                                        viewBox="0 0 256 256">
                                                                                        <path
                                                                                            d="M224,144v64a8,8,0,0,1-8,8H40a8,8,0,0,1-8-8V144a8,8,0,0,1,16,0v56H208V144a8,8,0,0,1,16,0Zm-101.66,5.66a8,8,0,0,0,11.32,0l40-40a8,8,0,0,0-11.32-11.32L136,124.69V32a8,8,0,0,0-16,0v92.69L93.66,98.34a8,8,0,0,0-11.32,11.32Z">
                                                                                        </path>
                                                                                    </svg></span> Download Brochure</a>
                                                                        </h6>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                        <div style="display: flex; gap: 20px;     border-bottom: 1px solid #c3c3c3;">
<img src="<%= process.env.S3_BASE_URL + projectDetails.projectLogo %>" style="width: 80px; height: 80px; object-fit: cover; border-radius: 100%;" alt="<%= projectDetails.projectName %>">
                                                            <div style="display: flex; flex-direction: column;">
                                                        <h3 class="title" style="margin-bottom: 4px; ">
                                                            <%= projectDetails.projectName %>
                                                        </h3>
                                                        <div class="location" style="padding-bottom: 22px; "><i
                                                                class="far fa-map-marker-alt"></i>
                                                            <%= titleCase(projectDetails.locality) %> , <%=
                                                                    titleCase(projectDetails.city) %>
                                                        </div>
                                                    </div>
                                                    </div>



                                                    <div class="project-description-block"><%- projectDetails.projectDescrpition[0].description %></div>



                                                    <% if (projectDetails.amenities?.length) { %>
                                                        <h3 class="ah-title" >Amenities</h3>
                                                        <ul class="amenities-list">
                                                            <% projectDetails.amenities.forEach(amenity=> { %>
                                                                <li>
                                                                   
                                                                    <%= titleCase(amenity) %>
                                                                </li>
                                                                <% }) %>
                                                        </ul>
                                                        <% } %>

                                                            <% if (projectDetails.projectHighlight) { %>
                                                                <h3  class="ah-title">Highlights</h3>

                                                                <ul class="highlights-list" style="padding-bottom: 60px;">
                                                                    <% projectDetails.projectHighlight .split(',')
                                                                        .map(h=> h.trim())
                                                                        .filter(Boolean)
                                                                        .forEach(highlight => { %>

                                                                        <li>
                                                                        
                                                                            <%= highlight %>
                                                                        </li>

                                                                        <% }) %>
                                                                </ul>
                                                                <% } %>


                                                </div>
                                                </div>
                                                <div class="col-xl-4 ">
                                                    <section class="renvia-contact_two pb-120" data-aos="fade-up" data-aos-duration="1000">
                                                        <div class="container">
                                                            <div class="contact-wrapper" style="border-top: none; padding-top: 0;">
                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <!-- Section Title -->
                                                                        <div class="section-title  mb-30">
                                                                            <h3>Enquire</h3>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <form id="productform">
                                                                    <div class="row">
                                                                        <div class="col-lg-12">
                                                                            <div class="form-group">
                                                                                <input type="text" class="form_control" placeholder="Full Name*" name="<%= PROJECT_ENQUIRY_DYNAMIC_FIELDS_KEYS.name %>"
                                                                                    required>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-12">
                                                                            <div class="form-group">
                                                                                <input type="tel" class="form_control" placeholder="Contact Number*" name="<%= PROJECT_ENQUIRY_DYNAMIC_FIELDS_KEYS.phone %>"
                                                                                    required>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-12">
                                                                            <div class="form-group">
                                                                                <input type="email" class="form_control" placeholder="Email Address*" name="<%= PROJECT_ENQUIRY_DYNAMIC_FIELDS_KEYS.email %>"
                                                                                    required>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-12">
                                                                            <div class="form-group">
                                                                                <input type="text" class="form_control" placeholder="City" name="<%= PROJECT_ENQUIRY_DYNAMIC_FIELDS_KEYS.city %>"
                                                                                    >
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-12">
                                                                            <div class="form-group">
                                                                                <textarea name="<%= PROJECT_ENQUIRY_DYNAMIC_FIELDS_KEYS.remarks %>" placeholder="Your Massage" rows="4"
                                                                                    class="form_control"></textarea>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-12">
                                                                            <div class="form-group text-end">
                                                                                <button class="theme-btn style-one" id="submit">Send A Request<i
                                                                                        class="far fa-arrow-right"></i></button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                     
                                   

                                        
                                       
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
      
        </section><!--======  End Project Details Section  ======-->
        <!--======  Start Contact Section  ======-->
        <section class="renvia-project_two pt-115 pb-80 overflow-hidden" style="background-color: #0b0629;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8">
                        <div class="section-title text-white text-center mb-55">
                            <span class="sub-title" data-aos="fade-down" data-aos-duration="1000">Project at a Glance</span>
                            <h2 class="text-anm">Key visuals showcasing value, layout, and lifestyle appeal.</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Slider -->
            <div class="project-slider" data-aos="fade-up" data-aos-duration="1000">
              
                
                <!-- Renvia Project Item -->
                <% projectDetails.projectPictures.forEach(picture => { %>
                    <div class="renvia-project-item style-two">
                        <div class="project-thumbnail">
                            <img src="<%= process.env.S3_BASE_URL + picture %>" alt="project thumbnail">
                        </div>
                    </div>
                <% }); %>
            </div>
            <div class="container">
                <!-- Counter Wrapper -->
                <div class="counter-wrapper pt-80 text-white" data-aos="fade-up" data-aos-duration="1200">
                    <div class="row" style="display: flex; justify-content: center;">
                       <a class="theme-btn style-one" style="max-width: 280px;" href="https://api.whatsapp.com/send?phone=+919893651234&amp;text=Hello%20Tikariha%20Advisors,%20I'd%20like%20assistance%20with%20a%you%20or%20enquiry." target="_blank">Chat on WhatsApp<i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </section>

        </main>
        <%- include('footer') %>
    </div>
    </div>




    <%- include('./partials/popup') %>

    <style>
        /* Solution 1 - Simple fixed height */
.project-slider .project-thumbnail img {
    width: 100%;
    height: 500px;
    width: 700px;
    object-fit: cover;
    object-position: center;
}


/* Optional: Add hover effect */
.project-slider .project-thumbnail img {
    transition: transform 0.3s ease;
}

        .top-button .info {
            background-color: #efefef;
            padding: 4px 16px;
            border-radius: 12px;
            font-weight: lighter;
        }

li::marker{
    color: var(--primary-color);
}


        .ah-title{
            margin-top: 30px;
            padding-bottom: 16px;
        }

        .project-description-block h1, .project-description-block h2, .project-description-block h3, .project-description-block h4, .project-description-block h5, .project-description-block h6{
            font-size: 18px;
            margin-top: 30px;
            margin-bottom: 14px;
        }

        .renvia-contact_two{
            position: sticky;
            top: 100px;
            align-self: flex-start;
        }

        .download-brochure {
            background-color: #5e40e01a !important;
           
        }

        .top-button .info h6 {
            font-weight: 400;
        }


        .highlights-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px 20px;
        }


        .renvia-project-details-sec {
            max-width: 1200px;
            margin: 0 auto;
        }

        .project-thumbnail img {
            max-height: 85vh;
            object-fit: cover;
        }


        .top-button{
            margin-bottom: 30px;
        }
        @media (max-width: 768px) {
    .project-slider{
        padding:0  15px ;
    }
    .project-slider .project-thumbnail img{
        max-width: 100%;
        height: 350px;

    }
    .top-button{
            margin-bottom: 0px;
        }
    .highlights-list {
        
            grid-template-columns: repeat(1, 1fr);
          
        }

        .highlights-list {
            grid-template-columns: repeat(1, 1fr);
         
        }
        .download-brochure{
            margin-top: 12px;
            margin-bottom: 30px;
        }

}
    </style>

<script>
    document.getElementById('productform').addEventListener('submit', async function (e) { 
          e.preventDefault(); // Prevent the default form submission
      
          try {
              const API_BASE_URL = "<%= API_BASE_URL %>";
              const websiteID = "<%= websiteID %>";
              const WEBSITEIDKEY = "<%= WEBSITE_ID_KEY %>";
              const PROJECT_ENQUIRY_DYNAMIC_FIELDS_KEYS = <%- JSON.stringify(PROJECT_ENQUIRY_DYNAMIC_FIELDS_KEYS) %>;
      
              const CREATE_PROJECT_ENQUIRY_END_POINT = `${API_BASE_URL}/website/${websiteID}/affiliation-enquiry/create`;
      
              const productform = e.target; // Reference to the form element
              const WEBSITE_ID_KEY = WEBSITEIDKEY;
      
              // Prepare the payload from the form fields
              const payload = {
                    [PROJECT_ENQUIRY_DYNAMIC_FIELDS_KEYS.name]: productform.querySelector(
                      `input[name="${PROJECT_ENQUIRY_DYNAMIC_FIELDS_KEYS.name}"]`
                  ).value,
                  [PROJECT_ENQUIRY_DYNAMIC_FIELDS_KEYS.phone]: Number(productform.querySelector(
                      `input[name="${PROJECT_ENQUIRY_DYNAMIC_FIELDS_KEYS.phone}"]`
                  ).value),
                  [PROJECT_ENQUIRY_DYNAMIC_FIELDS_KEYS.email]: productform.querySelector(
                      `input[name="${PROJECT_ENQUIRY_DYNAMIC_FIELDS_KEYS.email}"]`
                  ).value,
                  [PROJECT_ENQUIRY_DYNAMIC_FIELDS_KEYS.city]: productform.querySelector(
                      `input[name="${PROJECT_ENQUIRY_DYNAMIC_FIELDS_KEYS.city}"]`
                  ).value,
                  [PROJECT_ENQUIRY_DYNAMIC_FIELDS_KEYS.remarks]: productform.querySelector(
                      `textarea[name="${PROJECT_ENQUIRY_DYNAMIC_FIELDS_KEYS.remarks}"]`
                  ).value,
                  [PROJECT_ENQUIRY_DYNAMIC_FIELDS_KEYS.projectName]: "<%= projectDetails._id %>",
              };
      
              // Set headers for the request
              const headers = new Headers({
                  "Content-Type": "application/json",
              });
      
              // Send POST request to the API
              const response = await fetch(CREATE_PROJECT_ENQUIRY_END_POINT, {
                  method: "POST",
                  headers,
                  body: JSON.stringify(payload),
              });
      
              // Handle response
              if (!response.ok) {
                  throw new Error(`HTTP error! Status: ${response.status}`);
              }
      
              const data = await response.json();
      
              // Redirect to the thank-you page on success
              sessionStorage.setItem("thankYouMessage", "We've Recieved Your Message and will Contact you soon.");
              window.location.href = "/thankyou";
          } catch (error) {
              console.error("Form submission error", error);
              // Optionally, you can show an error message or log the error
          }
      });
</script>