<%- include('header'), {seoDetails} %>
<%- include('./partials/Home/popupbanner') %>
<div id="smooth-wrapper">
    <div id="smooth-content">
        <main>
            <!--======  Start Hero Section  ======-->
           
<%- include('./partials/Home/homebanner') %>


<%- include('./partials/Home/homeabout') %>


          <!--======  End About Section  ======-->
            <!--======  Start Services Section  ======-->
            <%- include('./partials/Home/homeproducts') %>
            
            <!--======  End Services Section  ======-->
            <!--======  Start Project Section  ======-->

             <%- include('./partials/Home/homeservices') %>


            <%- include('./partials/Home/homepromo') %>


<!--======  End Intro Section  ======-->
           <%- include('./partials/Home/testimonial.ejs') %>
           
           
          
<%- include('./partials/Home/homeblogs') %>

            <!--======  End Blog Section  ======-->
        </main>

<%- include('footer') %>
</div>
</div>
</body>
<%- include('./partials/popup') %>
</html>

        
<!-- Review Popup -->
<div id="reviewPopup" class="review-popup">
    <div class="review-popup-content">
        <p id="fullReviewText" class="fullReviewText"></p>
    </div>
    <button class="close-popup" onclick="closeReviewPopup()"><i class="fa-solid fa-xmark"></i></button>
  </div>