<%- include('header'), {seoDetails} %>

<div id="smooth-wrapper">
    <div id="smooth-content">
        <main id="top-180-90">
          
            <section class="renvia-service_one gray-bg pt-115 pb-80" data-src="assets/images/home-one/bg/service-bg.jpg">
                <div class="container-fluid">
                 
                    <!-- Service Slider -->
                    <div class="service-slider-projects container col-12" data-aos="fade-down" data-aos-duration="1000">
                        <!-- Renvia Service Card -->
                        <% if (projects && projects.length > 0) { %>
                 
                            <% projects.forEach((project, index) => { %>
                        <div class="renvia-service-card col-lg-4 col-md-6 col-sm-12 style-one mb-40" onclick="window.location.href='/project/<%= project._id %>'">
                            <div class="content">
                                <div class="title-wrap" style="margin-bottom: 20px; padding-bottom: 20px;">
                                    <h4><a href="/project/<%= project._id %>"><%= project.projectName %></a></h4>
                                    <a href="/project/<%= project._id %>" class="icon-btn"><i class="far fa-arrow-right"></i></a>
                                </div>

                                <%
                                const titleCase = (str) =>
                                  str
                                    .replace(/_/g, ' ')
                                    .toLowerCase()
                                    .replace(/\b\w/g, char => char.toUpperCase());
                              %>
                              
                              <div style="display: flex; gap: 8px; margin-bottom: 16px;">
                                  <p style="margin-bottom: 0px;font-size: 14px; background-color:#ffc5c5; padding: 2px 20px; border-radius: 12px; color: #000;"><%= titleCase(project.possesion) %></p>
                                  <p style="margin-bottom: 0px;font-size: 14px; background-color:#F8F8F8; padding: 2px 20px; border-radius: 12px; color: #000;"><%= titleCase(project.projectType) %></p>
                              </div>
                              
                              <p style="margin-bottom: 24px;"><%= titleCase(project.locality) %>, <%= titleCase(project.city) %></p>
                               <!-- <p><%= project.reraNo %></p> -->
                                <img src="<%= process.env.S3_BASE_URL + project.listingBanner %>" alt="<%= project.projectName %>">
                            </div>
                        </div>
                        <% }) %>
                        <!-- Renvia Service Card -->
                       <% } %>
                    </div>
                </div>
            </section>
        </main>

<%- include('footer') %>

<style>
    

.service-slider-projects .slick-slide {
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (max-width: 991.98px) {
  .service-slider-projects .slick-slide {
    margin-left: 12px;
    margin-right: 12px;
  }
}

</style>